### Used for src/config/settings.js
# General frontend configuration
VITE_API_BASE_URL=/api
VITE_SITE_KEY_RECAPTCHA=
# firebase.js
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

### used for /server/config/settings.js
FIREBASE_PROJECT_ID=
FUNCTION_REGION=us-central1
APP_CHECK_ENFORCEMENT=true
OAUTH_ACCESS_TOKEN_SECRET=
