node_modules
dist
.env
.env.local
.env.*.local
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log
.firebase/
server/node_modules
server/config/settingsLocal.js
*.local
.DS_Store
src/config/settingsLocal.js
